body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-color: #282828;
  color: #fff;
  display: flex;
  justify-content: center;
}

h2 {
  margin: 0;
  font-weight: normal;
  padding: 12px 0;
}

input,
label {
  display: block;
  padding: 12px 0;
}

input[type="submit"] {
  padding: 8px;
  cursor: pointer;
  background-color: #1581ba;
  border: none;
  color: #fff;
  font-weight: bold;
}
